# 3.8 집계와 분류

### sum() mean() median() min() max() 같은 집계연산을 통해서 효율적으로 요약함

### Pandas의 집계 메서드 목록

-count()   항목 전체 개수 <br>
-first(), last() 첫 항목과 마지막 항목 <br>
- mean(), median() 평균값과 중앙값 <br>
- min(), max() 최솟값과 최댓값 <br>
- std(), var() 표준편차와 분산 <br>
- mad() 절대 평균 편차 <br>
- prod() 전체 항목의 곱 <br>
- sum() 전체 항목의 합

### GroupBy : 분할, 적용, 결합

분할(키 값 기준으로 DF 나누고 분류)  -> 적용(집계, 변환, 필터링 같은 함수 )  -> 결합(연산 결과를 결과 배열에 병합)

- dispatch methid: describe() : 사용한 데이터의 각 그룹을 설명하는 집계 연산 수행

### 집계, 필터, 변환, 적용

- aggregate()

df.groupby('key').aggregate(['min', np.median, max])

- filter()

def filter_func(x):
    return x['data2'].std() >4

df.groupby('key').filter(filter_func)

- transform()

df.groupoby('key').transform(lambda x: x - x.mean())
* lambda는 간단한 함수 기능

- apply()

df = df.apply(lambda x: x * 2)

# 3.9 피벗 테이블

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic=sns.load_dataset('titanic')

In [8]:
titanic.pivot_table('survived', index='sex', columns='class')

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

차원 추가 -> pd.cut 활용

In [9]:
age=pd.cut(titanic['age'], [0,18,80])
titanic.pivot_table('survived',['sex',age],'class')

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 80]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 80]  0.375000  0.071429  0.133663

# 3.10 벡터화된 문자열 연산

In [10]:
x= np.array([2,3,5,7,11,13])
x*2

array([ 4,  6, 10, 14, 22, 26])

## 정규 표현식을 활용하는 method

match() : 각 요소에 re.match() 호출, 부울 값 반환 <br>
extract() : 각 요소에 re.match() 호출, 문자열로 매칭된 그룹을 반환<br>
findall() : 각 요소에 re.findall() 호출<br>
replace() : 패턴이 발생한 곳을 다른 문자열로 대체<br>
contains() : 각 요소에 re.search() 호출, 부울 값 반환<br>
count(): 패턴의 발생 건수 집계<br>
split(): str,split()과 동일하지만 정규 표현식 취함<br>
rsplit() : str, rsplit()과 동일하지만 정규 표현식 취합

## 기타 method

get() : 각 요소에 인덱스 지정 <br>
slice() : 각 요소에 슬라이스 적용<br>
slicr_repalce() : 각 요소의 슬라이스를 전달된 값으로 대체<br>
cat() : 문자열 연결<br>
repeat() : 값을 반복<br>
normalize() :문자열의 유니코드 형태 반환<br>
pad() : 문자열의 왼쪽, 오른쪽 또는 양쪽에 공백 추가<br>
wrtap() : 긴 문자열을 주어진 너비 보다 짧은 길이의 여러 줄로 나눔<br>
join() : series의 각 요소에 있는 문자열을 전달된 구분자와 결합<br>
get_dummies() : dataframe 으로 가변수(dummy variable)추출

** df.str.slice(0,3) 은 df.str[0:3]과 동일

## 3.10 시계열 데이터

In [14]:
# 기본 모듈
from datetime import datetime
from dateutil import parser

### 시간으로 인덱싱하기

index =pd.DatetimeIndex(['2020-07-04', '2020-0804',
                        '2021-07-04', '2021-08-04'])
data=pd.Series([0,1,2,3], index=index)
data

### 리샘플링, 시프팅, 윈도잉

In [17]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\js\anaconda3\lib\site-packages (from pandas-datareader) (4.9.3)
Requirement already satisfied: pandas>=0.23 in c:\users\js\anaconda3\lib\site-packages (from pandas-datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\js\anaconda3\lib\site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\js\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\js\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\js\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\js\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\js\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/109.5 kB ? eta -:--:--
   ------------------------------------- -- 102.4/109.5 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 109.5/109.5 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [19]:
! pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.49-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.7.tar.gz (939 kB)
     ---------------------------------------- 0.0/939.5 kB ? eta -:--:--
     --------------------- --------------- 553.0/939.5 kB 17.5 MB/s eta 0:00:01
     ----------------------------------- - 911.4/939.5 kB 14.3 MB/s eta 0:00:01
     -------------------------------------- 939.5/939.5 kB 9.9 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\js\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\js\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\js\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\js\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\js\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\js\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\js\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Downloading yfinance-0.2.49-py2.py3-none-any.whl (101 kB)
   ---------------------------------------- 0.0/101.1 kB ? eta -:--:--
   ---------------------------------------- 101.1/101.1 kB 6.1 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py311-none-any.whl (16 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB ? eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.7-py3-none-any.whl size=138951 sha256=aaecfb3e7b7bba58fe9677248dec2184685044a78d91b6dbcdee0589f1431753
  Stored in directory: c:\users\js\appdata\local\pip\cache\wheels\fd\28\34\9ba1363b76703fe35ae8296af28ea74578a41b83544bb9da65
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.6 html5lib-1.1 multitasking-0.0.11 peewee-3.17.7 yfinance-0.2.49

In [21]:
! pip install uf

Collecting uf
  Downloading uf-0.0.4-py3-none-any.whl.metadata (342 bytes)
Downloading uf-0.0.4-py3-none-any.whl (6.9 kB)
Installing collected packages: uf
Successfully installed uf-0.0.4

from pandas_datareader import data
import yfinance as yf

uf.pdr_override()
sp500=data.DataReader('^GSPC', start='2018-0101', end='2021-12-31')

## 고성능 pandas: eval()과 query()

In [44]:
import numpy as np
import pandas as pd
rng=np.random.RandomState(42)
x=rng.rand(1000000)
y=rng.rand(1000000)
%timeit x+y

2.25 ms ± 122 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

- eval() : 문자형태의 식을 evaluate하여 빠르게 계산할 수 있도록 함

#산술 연산자 활용
result1= -df1*df2/(df3+df4)-df5
result2= pd.eval('df1*df2/(df3+df4)-df5')

### 열 단위의 연산을 위한 DdataFrame.eval()

In [40]:
df=pd.DataFrame(rng.rand(1000,3),columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.101812  0.298283  0.636572
1  0.435671  0.220578  0.990797
2  0.654224  0.820193  0.904737
3  0.137785  0.155398  0.307140
4  0.921909  0.707242  0.528478

In [49]:
result1=(df['A']+df['B'])/(df['C']-1)
result2=pd.eval("(df.A+df.B)/(df.C-1)")
np.allclose(result1,result2)

True

### DataFrame.eval()에서의 할당

In [51]:
df.head()

          A         B         C
0  0.101812  0.298283  0.636572
1  0.435671  0.220578  0.990797
2  0.654224  0.820193  0.904737
3  0.137785  0.155398  0.307140
4  0.921909  0.707242  0.528478

In [54]:
df.eval('D=(A+B)/C', inplace=True)
df.head()

          A         B         C         D
0  0.101812  0.298283  0.636572  0.628515
1  0.435671  0.220578  0.990797  0.662344
2  0.654224  0.820193  0.904737  1.629663
3  0.137785  0.155398  0.307140  0.954558
4  0.921909  0.707242  0.528478  3.082725

### DataFrame.eval()의 지역변수

In [55]:
column_mean=df.mean(1)
result1=df['A']+column_mean
result2=df.eval('A + @column_mean') <- column mean시리즈 참조
np.allclose(result1, result2)

True

### DataFrame.query() method

#기존
result = pd.eval('df[(df.A<0.5)& (df.B <0.5)]')
#query method사용
result=df.query('A<0.5 and B<0.5')